# Dependencies
node_modules/
vendor/

# Environment
.env
.env.*
!.env.example

# Build files
**/dist/
**/public/build/
**/public/hot/
**/public/storage

# IDEs & Editors
.vscode/
.idea/
.cursor/
.zed/
*.swp
*.swo
.DS_Store
Thumbs.db

# Xdebug
xdebug.log
cachegrind.out.*

# Logs & Caches
*.log
.phpunit.result.cache
.phpunit.cache/
.eslintcache
.cache/
**/storage/logs/*.log
**/storage/framework/sessions/*
**/storage/framework/views/*.php
**/storage/framework/cache/data/*

# Other
**/storage/*.key
**/storage/pail
/backend/auth.json
/frontend/coverage/

# Testing
TestResults.xml
/cypress/videos/
/cypress/screenshots/
__screenshots__/